<div style="display: flex; flex-direction: row; 
align-items: center; 
 background-color:darkseagreen;">

 <img src="https://sketchok.com/images/articles/07-animals/01-cats/20/01/05.jpg" style="height: 20vh; width: auto; border-radius: 30%;margin: 2em;"></i>

 <nav>
    <h2>Navigate to:</h2>
        <a href="/">Home</a>
        <a href="login">Login</a>
        <a href="register">Register</a>
    
</nav></div>