
<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
  <body>
    <%- include('includes/header') %>
<body>

    <form action="register.ejs" id="register">
        
        <label>Username</label>
        <input type="username" id="username" placeholder="username">  </input>
        <br>
        <label>Password</label>
        <input type="password" id="password" placeholder="password">  </input>
        <br>
        <button>Register</button>

    </form>
    
</body>

<%- include('includes/footer') %>
</html>